<!--Packages-->
<section
  id="packages"
  class="animation-fade-in grow py-16 min-h-[calc(100vh_-_5rem)]"
  style="
    background: url('img/bg_packages.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="container space-y-16">
    <h1
      class="uppercase text-blue-500 text-3xl md:text-4xl xl:text-5xl font-bold text-center"
    >
      Packages option
    </h1>
    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 content-between gap-y-10 flex justify-center"
    >
      <div
        class="relative w-[300px] md:w-[300px] xl:w-[350px] border border-1 border-blue-900 bg-white rounded-lg p-6 space-y-10 shadow-xl hover:shadow-2xl transition ease-in-out delay-150 hover:translate-y-1 hover:scale-105 duration-300"
      >
        <!-- <span class="ribbon bg-orange-600 text-white">Recommended</span> -->

        <div>
          <h3 class="text-4xl lg:text-5xl font-bold mb-2">Basic</h3>
          <p class="text-base">Perfect plan for Starter</p>
        </div>

        <div>
          <div>
            <i class="ti-north-star text-yellow-500"></i>
            <span class="text-xl font-bold">Point</span>
          </div>

          <p
            class="text-7xl lg:text-8xl text-center font-extrabold drop-shadow-xl"
          >
            50
          </p>
          <div class="flex items-baseline justify-center mt-1">
            <p class="text-2xl text-center font-medium text-gray-500">&#36;</p>
            <p class="text-4xl text-center font-semibold text-gray-500">10</p>
          </div>
        </div>

        <div class="mx-auto">
          <a
            href=""
            type="button"
            class="text-lg text-center bg-gradient-to-r from-blue-400 from-10% to-blue-500 w-full px-6 py-3 text-neutral-50 font-bold rounded-md hover:opacity-80"
            >Pay</a
          >
        </div>
      </div>
      <div
        class="relative w-[300px] md:w-[300px] xl:w-[350px] border border-1 border-blue-900 bg-white rounded-lg p-6 space-y-10 shadow-xl hover:shadow-2xl transition ease-in-out delay-150 hover:translate-y-1 hover:scale-105 duration-300"
      >
        <!-- <span class="ribbon bg-orange-600 text-white">Recommended</span> -->

        <div>
          <h3 class="text-4xl lg:text-5xl font-bold mb-2">Standard</h3>
          <p class="text-base">Perfect plan for Starter</p>
        </div>

        <div>
          <div>
            <i class="ti-north-star text-yellow-500"></i>
            <span class="text-xl font-bold">Point</span>
          </div>

          <p
            class="text-7xl lg:text-8xl text-center font-extrabold drop-shadow-xl"
          >
            550
          </p>
          <div class="flex items-baseline justify-center mt-1">
            <p class="text-2xl text-center font-medium text-gray-500">&#36;</p>
            <p class="text-4xl text-center font-semibold text-gray-500">50</p>
          </div>
        </div>

        <div class="mx-auto">
          <a
            href=""
            type="button"
            class="text-lg text-center bg-gradient-to-r from-blue-400 from-10% to-blue-500 w-full px-6 py-3 text-neutral-50 font-bold rounded-md hover:opacity-80"
            >Pay</a
          >
        </div>
      </div>
      <div
        class="relative w-[300px] md:w-[300px] xl:w-[350px] border border-1 border-blue-900 bg-white rounded-lg p-6 space-y-10 shadow-xl hover:shadow-2xl transition ease-in-out delay-150 hover:translate-y-1 hover:scale-105 duration-300"
      >
        <!-- <span class="ribbon bg-orange-600 text-white">Recommended</span> -->

        <div>
          <h3 class="text-4xl lg:text-5xl font-bold mb-2">Premium</h3>
          <p class="text-base">Perfect plan for Starter</p>
        </div>

        <div>
          <div>
            <i class="ti-north-star text-yellow-500"></i>
            <span class="text-xl font-bold">Point</span>
          </div>

          <p
            class="text-7xl lg:text-8xl text-center font-extrabold drop-shadow-xl"
          >
            1200
          </p>
          <div class="flex items-baseline justify-center mt-1">
            <p class="text-2xl text-center font-medium text-gray-500">&#36;</p>
            <p class="text-4xl text-center font-semibold text-gray-500">100</p>
          </div>
        </div>

        <div class="mx-auto">
          <a
            href=""
            type="button"
            class="text-lg text-center bg-gradient-to-r from-blue-400 from-10% to-blue-500 w-full px-6 py-3 text-neutral-50 font-bold rounded-md hover:opacity-80"
            >Pay</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
