<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script defer src="js/scripts.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.1/fonts/remixicon.min.css"
      rel="stylesheet"
    />
    <title>Forgt passworf</title>
  </head>

  <body>
    @include('./components/preloader.html')
    @include('./layouts/forgot_password/navbar.html')
    @include('./layouts/forgot_password/forgot_password_form.html')
    @include('./layouts/forgot_password/footer.html')
  </body>
</html>
