<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script defer src="js/scripts.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.1/fonts/remixicon.min.css"
      rel="stylesheet"
    />
    <title>Reset password</title>
  </head>

  <body>
    @include('./components/preloader.html')
    @include('./layouts/reset_password/navbar.html')
    @include('./layouts/reset_password/reset_password_form.html')
    @include('./layouts/reset_password/footer.html')
  </body>
</html>
<script>
  window.addEventListener("load", (event) => {
    function togglePasswordVisibility(passwordInput, label) {
      if (passwordInput.attr("type") === "password") {
        passwordInput.attr("type", "text");
        label.html('<i class="ri-eye-off-line"></i>');
      } else {
        passwordInput.attr("type", "password");
        label.html('<i class="ri-eye-line"></i>');
      }
    }
    $(".js-old-password-toggle").on("click", function () {
      var passwordInput = $(".js-old-password");
      var label = $(".js-old-password-label");
      togglePasswordVisibility(passwordInput, label);
    });

    $(".js-new-password-toggle").on("click", function () {
      var passwordInput = $(".js-new-password");
      var label = $(".js-new-password-label");
      togglePasswordVisibility(passwordInput, label);
    });

    $(".js-confirm-password-toggle").on("click", function () {
      var passwordInput = $(".js-confirm-password");
      var label = $(".js-confirm-password-label");
      togglePasswordVisibility(passwordInput, label);
    });
  });
</script>
