#gallery {

    @mixin transition($transition) {
        -webkit-transition: all $transition ease-in-out;
        -moz-transition: all $transition ease-in-out;
        -o-transition: all $transition ease-in-out;
        transition: all $transition ease-in-out;
    }


    .image-item {
        @include transition(.5s);
        overflow: hidden;

        &:hover {
            transform: scale(1.1);
        }
    }
}