<section id="banner" class="min-h-[calc(100vh_-_5rem)]">
  <div class="owl-carousel owl-theme">
    <div
      class="banner-item w-auto min-h-[calc(100vh_-_5rem)] text-3xl text-neutral-50 flex items-center"
      style="
        background-image: url('img/bg-banner-1.jpg');
        background-size: cover;
        background-position: center;
      "
    >
      <div class="w-full container mx-auto relative z-[15] space-y-6">
        <h3 class="text-6xl banner-title">Title 1</h3>
        <a
          type="button"
          href="#contact-us"
          class="btn light px-4 py-2 text-base border-2 border-blue-600 text-neutral-50 hover:bg-blue-600 hover:text-neutral-50 font-semibold"
        ></a>
      </div>
    </div>
    <div
      class="banner-item w-auto min-h-[calc(100vh_-_5rem)] text-3xl text-neutral-50 flex items-center"
      style="
        background-image: url('img/bg-banner-1.jpg');
        background-size: cover;
        background-position: center;
      "
    >
      <div class="w-full container mx-auto relative z-[15] space-y-6">
        <h3 class="text-6xl banner-title">Title 2</h3>

        <a
          type="button"
          href="#contact-us"
          class="btn light px-4 py-2 text-base border-2 border-blue-600 text-neutral-50 hover:bg-blue-600 hover:text-neutral-50 font-semibold"
        ></a>
      </div>
    </div>
  </div>
</section>
