<section id="faq" class="bg-blue-50 py-16">
  <div class="w-full container mx-auto space-y-10">
    <h2
      class="animation-fade-in text-3xl lg:text-5xl font-bold mb-0 text-blue-700 text-center"
    >
      FAQs
    </h2>
    <p class="animation-fade-in text-base text-center">
      The most common questions about how our business works and what can do for
      you.
    </p>
    <div
      id="accordion"
      class="accordion-container text-neutral-900 w-full space-y-4"
    >
      <div class="animation-fade-in border-2 px-4 py-3">
        <h4
          class="cursor-pointer accordion-title ralative js-accordion-title relative pointer text-lg font-medium"
        >
          Question 2
        </h4>
        <div class="accordion-content py-2 hidden">
          <p>Accordion Content1</p>
        </div>
      </div>

      <div class="animation-fade-in border-2 px-4 py-3">
        <h4
          class="cursor-pointer accordion-title ralative js-accordion-title relative pointer text-lg font-medium"
        >
          Question 3
        </h4>
        <div class="accordion-content py-2 hidden">
          <p>Accordion Content1</p>
        </div>
      </div>
    </div>
  </div>
</section>
