<section
  id="40allery"
  class="bg-blue-50 py-16"
  style="
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.4)
      ),
      url('img/bg_gallery.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  "
>
  >
  <div class="container mx-auto space-y-10">
    <!-- <h2
      class="animation-fade-in text-3xl lg:text-5xl font-bold mb-0 text-blue-500 text-center"
    >
      Gallery image
    </h2> -->
    <div class="list-img flex flex-wrap justify-around gap-10">
      <div
        style="
          background: url('https://picsum.photos/id/40/300/200');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="animation-fade-in image-item w-[167px] h-[167px] md:w-[267px] md:h-[267px] rounded-lg shadow-xl"
      ></div>
      <div
        style="
          background: url('https://picsum.photos/id/41/300/200');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="animation-fade-in image-item w-[167px] h-[167px] md:w-[267px] md:h-[267px] rounded-lg shadow-xl"
      ></div>
      <div
        style="
          background: url('https://picsum.photos/id/42/300/200');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="animation-fade-in image-item w-[167px] h-[167px] md:w-[267px] md:h-[267px] rounded-lg shadow-xl"
      ></div>
      <div
        style="
          background: url('https://picsum.photos/id/43/300/200');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="animation-fade-in image-item w-[167px] h-[167px] md:w-[267px] md:h-[267px] rounded-lg shadow-xl"
      ></div>
      <div
        style="
          background: url('https://picsum.photos/id/44/300/200');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="animation-fade-in image-item w-[167px] h-[167px] md:w-[267px] md:h-[267px] rounded-lg shadow-xl"
      ></div>
      <div
        style="
          background: url('https://picsum.photos/id/45/300/200');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="animation-fade-in image-item w-[167px] h-[167px] md:w-[267px] md:h-[267px] rounded-lg shadow-xl"
      ></div>

      <div
        style="
          background: url('https://picsum.photos/id/48/300/200');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="animation-fade-in image-item w-[167px] h-[167px] md:w-[267px] md:h-[267px] rounded-lg shadow-xl"
      ></div>
      <div
        style="
          background: url('https://picsum.photos/id/49/300/200');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
        class="animation-fade-in image-item w-[167px] h-[167px] md:w-[267px] md:h-[267px] rounded-lg shadow-xl"
      ></div>
    </div>
  </div>
</section>
