<section
  id="packages"
  class="animation-fade-in grow py-16 min-h-[calc(100vh_-_5rem)]"
  style="
  background: url('img/bg_contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
">
  <div class="container space-y-6">
    <h2
      class="animation-fade-in text-3xl lg:text-5xl font-bold mb-0 text-blue-700 text-center">
      Contact us
    </h2>
    <div class="animation-fade-in">
      <p class="leading-relaxed text-base text-center">
        We are here for you 24/7.
      </p>
      <p class="text-base text-center">
        Our Customer Success Team is called that way for a reason.
      </p>
    </div>
    <form class="grid gap-6 grid-cols-2 md:w-2/3 mx-auto">
      <div class="animation-fade-in">
        <label
          for="name"
          class="block mb-2 text-base font-medium text-gray-900">Your
          Name</label>
        <input
          type="name"
          id="name"
          placeholder="Name"
          class="px-4 py-2 transition duration-300 w-full border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
      </div>
      <div class="animation-fade-in">
        <label
          for="email"
          class="block mb-2 text-base font-medium text-gray-900">Email
          Email</label>
        <input
          type="email"
          id="email"
          placeholder="Email"
          class="px-4 py-2 transition duration-300 w-full border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
      </div>
      <div class="animation-fade-in">
        <label
          for="company"
          class="block mb-2 text-base font-medium text-gray-900">Your
          Company</label>
        <input
          type="name"
          id="company"
          placeholder="Company"
          class="px-4 py-2 transition duration-300 w-full border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
      </div>
      <div class="animation-fade-in">
        <label
          for="phone"
          class="block mb-2 text-base font-medium text-gray-900">Your
          Phone</label>
        <input
          type="name"
          id="phone"
          placeholder="Phone"
          class="px-4 py-2 transition duration-300 w-full border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
      </div>
      <div class="col-span-2 animation-fade-in">
        <label
          for="message"
          class="block mb-2 text-base font-medium text-gray-900">Your
          Message</label>
        <textarea
          rows="3"
          id="message"
          placeholder="Message"
          class="px-4 py-2 transition duration-300 w-full border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"></textarea>
      </div>
      <div class="animation-fade-in col-span-2 flex justify-center">
        <a
          href="#"
          class="rounded-full bg-blue-500 px-16 py-3 text-neutral-50 hover:opacity-80">Send</a>
      </div>
    </form>
  </div>
</section>